svg {
  background: #444444;
}

@font-face {
    font-family: myFirstFont;
    src: url(elvish-ring-nfi.regular.ttf);
}

div {
    font-family: myFirstFont;
}

p {
  font-family: myFirstFont;
  color: #E38C2D;
}

body{
    background: #444444;
}
